/******************************************
    File Name: style.css
    Template Name: oPPost
    Created By: Show WP Team
    Envato Profile: http://themeforest.net/user/wordpressshowcase
    Website: https://showwp.com
    Version: 1.0
    Support: wordpressshowcasecom@gmail.com
/******************************************

/******************************************
    TABLE OF CONTENT
/******************************************

    1. IMPORT FONT
    2. STARTUP
    3. HEADER
    4. FOOTER
    5. SECTIONS
    6. SIDEBAR WIDGETS
    7. CONTACT
    8. CAROUSEL
    9. DEALS
    10. SHOP
    11. FONTS
    12. RESPONSIVE

******************************************/

/******************************************
    IMPORT FONT
******************************************/

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700italic,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700italic,700,500italic,500,400italic,300italic,300);

/******************************************
    STARTUP
******************************************/

body {
    font-size: 14px;
    padding: 0;
    color: #333333;
    padding-bottom: 220px;
    background-color: #ffffff;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body.login,
body.login #wrapper {
    background-color: #333333;
}

body.login .section {
    padding-top: 10em;
}

body.login .checkbox small {
    font-size: 13px;
    padding-left: 5px;
    color: #333333 !important;
}

body.login img {
    margin: 0 auto 40px;
}

body.login.maintenance img {
    margin-bottom: 0px;
}

body.maintenance .section {
    padding-top: 4em;
}

li,
p {
    color: #333333;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 26px;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    color: #333333;
}

a {
    color: #333333;
    text-decoration: none !important;
    outline: none;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

a:hover,
a:focus {
    color: #D7898D;
    outline: none;
}

.twitter_feed li a,
small {
    font-family: 'Droid Serif', serif;
    font-style: italic;
    color: #999;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

ul,
ol {
    padding: 10px
}

.header ul {
    padding: 0;
}

.first {
    clear: both
}

.last {
    margin-right: 0
}

.alignleft {
    float: left;
    display: table-cell;
    margin: 10px 20px 10px 0;
}

.alignright {
    float: right;
    display: table-cell;
    margin: 10px 0 10px 20px;
}

.sociallinks,
.check {
    padding: 0;
    list-style: none;
}

.check li:before {
    content: "\f105";
    font-family: "FontAwesome";
    font-size: 13px;
    left: 0;
    color: #333333;
    padding-right: 8px;
    position: relative;
    top: 0;
}

.sitemap .check li:before {
    color: #333;
}

.sitemap .tags a {
    margin-bottom: 5px;
}

p.dropcaps::first-letter {
    border-radius: 0 !important;
    color: #999;
    float: left;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    margin: 8px 20px 0 0;
    padding: 9px 15px;
    font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.notfound p {
    font-size: 21px;
    padding: 10px 0;
    line-height: 36px;
}

.notfound .btn {
    font-size: 15px;
    color: #333333 !important;
}

.notfound {
    padding: 3em 0;
    text-align: center;
}

.notfound h2 {
    display: inline-block;
    font-size: 60px;
    font-weight: bold;
    margin: 0 0 20px;
}


/******************************************
    HEADER
******************************************/

.header {
    position: relative;
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
    text-align: left;
    width: 100%;
    z-index: 100;
    padding: 0;
    background-color: #333333;
}

.navbar-nav,
.navbar {
    margin: 0 !important;
    border-radius: 0 !important;
}

.navbar-default {
    border: 0;
    box-shadow: none !important;
    background-color: transparent;
}

.logo-wrapper {
    padding: 30px 0;
    background-color: #333333;
}

.logo-wrapper .ads-widget img {
    margin: 0 !important;
    width: auto;
    display: block;
    float: right;
    text-align: right;
}

.navbar-brand {
    font-size: 24px;
    color: #fff !important;
    padding: 0;
    margin: 8px 0 0;
    line-height: 1;
    text-transform: capitalize;
    height: auto;
    text-decoration: none !important;
    font-weight: 700;
}

.navbar-brand img {
    width: 100%;
}

.navbar-nav > li > a i {
    margin-right: 3px;
}

.navbar-nav > li > a {
    font-size: 15px;
    color: #333333 !important;
    padding: 15px 18px;
    text-transform: capitalize;
    text-decoration: none !important;
    font-weight: 700;
    line-height: 30px;
}

.dropdown-menu li,
.navbar-nav > li {
    -webkit-transition: background-color 0.7s ease 0s;
    -moz-transition: background-color 0.7s ease 0s;
    -ms-transition: background-color 0.7s ease 0s;
    -o-transition: background-color 0.7s ease 0s;
    transition: background-color 0.7s ease 0s;
}

.navbar-nav > li:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
}

.searchandbag i {
    font-size: 15px;
    line-height: 1;
}

.searchwidget h3 {
    font-size: 26px !important;
    line-height: 36px !important;
}

.searchandbag li {
    padding: 0 5px;
    border-left: 1px solid rgba(255, 255, 255, 0.14);
}

.searchandbag li:first-child {
    border-left: 0;
}

.tooltip-inner {
    font-weight: 400;
    text-transform: capitalize;
    font-size: 13px !important;
    min-width: 90px;
    background-color: #fff;
    padding: 5px 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input .btn {
    border: 0 none !important;
    border-radius: 0 !important;
    font-size: 14px;
    height: 46px;
    line-height: 45px;
    padding: 0 !important;
    vertical-align: middle;
    width: 45px;
}

#custom-search-input .fa {
    margin-top: -4px !important;
}

#custom-search-input .form-control {
    border-radius: 0;
    border-color: #eeeeee;
    box-shadow: none !important;
    font-size: 13px;
}

.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
    position: static;
}

.yamm .container {
    position: relative;
}

.yamm .dropdown-menu {
    left: auto;
}

.yamm .yamm-content {
    padding: 30px 40px;
}

.yamm .dropdown.yamm-fw .dropdown-menu {
    left: 0;
    right: 0;
}

.yamm-content .box {
    min-width: 240px !important;
}

.yamm-content .box .widget {
    margin-bottom: 0;
    padding-bottom: 0;
}

.yamm-content .box .widget-title {
    font-size: 18px;
    padding-top: 5px;
}

.yamm-content .box .customwidget h4 {
    font-size: 12px;
}

.yamm-content .box .customwidget .checkbox label {
    line-height: 1.3;
}

.navbar-nav > li.megamenu > .dropdown-menu > li:hover,
.navbar-nav > li.megamenu > .dropdown-menu > li:focus,
.navbar-nav > li.megamenu > .dropdown-menu:hover,
.navbar-nav > li.megamenu > .dropdown-menu {
    background-color: #333 !important;
}

.navbar-nav > li.megamenu .dropdown-menu a {
    color: #fff;
    clear: both;
    display: block;
    font-size: 13px !important;
    font-weight: 400 !important;
    letter-spacing: 0.2px;
    line-height: 1;
    padding: 10px;
    text-transform: capitalize;
    white-space: nowrap;
}

@media (min-width: 992px) {
    .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }
    .hasmenu:hover > ul {
        visibility: visible;
        opacity: 1;
        top: 100%;
    }
    .navbar-nav .hasmenu ul {
        -webkit-transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
        -moz-transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
        -o-transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
        transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out, top 0.35s ease-in-out, bottom 0.35s ease-in-out, left 0.35s ease-in-out, right 0.35s ease-in-out;
    }
    .hasmenu .dropdown-menu {
        min-width: 240px;
        padding: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
    .hasmenu > ul {
        position: absolute;
        top: 130%;
        visibility: hidden;
        display: block;
        opacity: 0;
        left: 0;
    }
    .hasmenu > ul.start-right {
        right: 0;
        left: auto;
    }
    .hasmenu > ul li {
        position: relative;
    }
    .hasmenu > ul li:hover > ul {
        visibility: visible;
        opacity: 1;
        left: 100%;
    }
    .hasmenu > ul li:hover > ul.show-right {
        right: 100%;
    }
}

@media (max-width: 1200px) {
    .nav > li > a {
        padding: 1em 0.7em;
    }
}

.dropdown {
    position: relative;
}

.dropdown-toggle:focus {
    outline: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 0.25em 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border-radius: 0.25em;
    background-clip: padding-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: 1px solid #efefef;
    box-shadow: none;
}

.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 0.5em 0;
    overflow: hidden;
    background-color: #e6e6e6;
}

.dropdown-mega span {
    position: absolute;
    right: 0;
    color: #999999;
    font-style: italic;
}

.dropdown-mega > li a:before {
    content: "\f105";
    font-family: "FontAwesome";
    font-size: 13px;
    left: 0;
    display: inline-block !important;
    color: #999;
    padding-right: 8px;
    position: relative;
    top: 0;
}

.dropdown-mega > li {
    list-style: none;
}

.dropdown-menu > li > a {
    clear: both;
    color: #333 !important;
    display: block;
    font-size: 13px !important;
    font-weight: 400 !important;
    line-height: 1;
    padding: 10px;
    white-space: nowrap;
    text-transform: capitalize;
    letter-spacing: 0.2px;
}

.dropdown-menu > li {
    padding: 5px 10px;
    border-bottom: 1px solid #efefef;
}

.dropdown-menu > li:last-child {
    border-bottom: 0;
}

.dropdown-menu > li:hover > a {
    text-decoration: none !important;
    background-color: #fff;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    text-decoration: none;
    outline: 0;
    background-color: #fff;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    color: #cccccc;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    cursor: not-allowed;
}

.open > .dropdown-menu {
    display: block;
}

.open > a {
    outline: 0;
}

.dropdown-menu-right {
    left: auto;
    right: 0;
}

.dropdown-menu-left {
    left: 0;
    right: auto;
}

.dropdown-header {
    display: block;
    padding: 0.5em 1em;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    color: #666666;
    white-space: nowrap;
}

.dropdown-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 990;
}

.pull-right > .dropdown-menu {
    right: 0;
    left: auto;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 0.3em solid;
    content: "";
}

.navbar-right > li > .dropdown-menu li {
    background-color: transparent !important;
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 1px;
}

.dropdown-menu > li {
    border-color: rgba(51, 51, 51, 0.05);
}

.dropdown-menu > li:hover {
    border-color: transparent !important;
}

.dropdown-menu > li > a {
    background-color: transparent !important;
}

@media (min-width: 768px) {
    .navbar-nav > li > .dropdown-menu {
        margin-top: 20px;
        border: 0 !important;
    }
    .navbar-nav > li > .dropdown-menu:after {
        bottom: 100%;
        left: 17%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        right: auto;
        position: absolute;
        pointer-events: none;
        border-color: rgba(136, 183, 213, 0);
        border-bottom-color: #88b7d5;
        border-width: 8px;
        margin-left: -8px;
    }
    .navbar-nav > li.megamenu > .dropdown-menu:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        right: auto;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #333333;
        border-width: 8px;
        margin-left: -8px;
    }
    .navbar-right > li > .dropdown-menu {
        background-color: #ffffff !important;
    }
    .navbar-right > li > .dropdown-menu:after {
        border: 0 !important;
    }
    .navbar-right .dropdown-menu {
        left: auto;
        right: 0;
    }
    .navbar-right .dropdown-menu-left {
        left: 0;
        right: auto;
    }
}

.header-buttons {
    display: block;
    margin-top: 5px;
}

.header-buttons .btn {
    font-size: 13px;
    padding: 7px 25px;
}

.accountbtn {
    font-size: 13px;
    margin-left: 12px;
}

.dmtop {
    background-color: #333333;
    background-image: url(images/arrow.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    z-index: 9999;
    width: 50px;
    height: 50px;
    text-indent: -99999px;
    position: fixed;
    bottom: -100px;
    right: 50px;
    cursor: pointer;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
    overflow: auto;
}


/******************************************
    FOOTER
******************************************/

#wrapper {
    background: #f9f9f9;
    background-color: #f9f9f9;
    position: relative;
    z-index: 10;
}

body.reviewbody #wrapper {
    background: url(upload/reviewbg.jpg) no-repeat center center fixed;
    !ime-mode: -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.stickyfooter {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 60px 0 !important;
    left: 0;
    text-align: center;
}

.twitter_feed {
    padding-left: 0
}

.twitter_feed li {
    list-style: none;
    overflow: hidden;
}

.twitter_feed li p {
    margin-top: -30px;
    padding-left: 30px;
}

.twitter_feed li span:before {
    color: #4f4f4f;
    padding-left: 0 !important;
    font-family: 'FontAwesome';
    content: "\f099";
    padding: 10px;
    vertical-align: text-top;
    font-size: 21px;
}

.twitter_feed li a {
    display: block;
    font-size: 12px;
}

.carousel-item .post-padding,
.carousel-item .content {
    padding: 0;
}

.carousel-item .post-media {
    margin: 20px auto 20px;
}

#owl-shop .carousel-item .post-media {
    margin: 0 auto 0;
}

#owl-shop .carousel-item {
    padding-top: 5px;
}

.carousel-item .content .entry-title {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    letter-spacing: -0.03em;
    line-height: 28px;
    margin-bottom: 0;
}

.carousel-item .content .entry-title h3 {
    padding-top: 0;
}

.aboutwidget img {
    margin: 5px 10px 0 0 !important;
    max-width: 65px;
}

.icon-container i {
    color: #333333;
}

.service-box h5 {
    color: #333333 !important;
    font-size: 18px;
    padding: 0;
    line-height: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.service-box p {
    padding-bottom: 0;
}

.service-box:hover a {
    color: #333 !important;
}

.style2 {
    list-style: none;
    padding: 20px 0;
    text-align: center;
    margin: 0;
}

.style2 .divs {
    padding: 0 40px;
    border-right: 1px solid #eeeff1 !important;
}

.border-bottom {
    border-bottom: 1px solid #eeeff1 !important;
}

.style2 .divs .icon-container {
    font-size: 34px;
    margin: 0;
    text-align: center;
    display: inline-block;
    border: 0;
    width: auto;
    height: 50px;
}

.style2 .divs:last-child {
    border-right: 0 solid #dedfe1 !important;
}

.style2 hr {
    border: 1px solid #242424;
    margin: 15px auto;
    width: 25px;
}

.style2 .btn {
    margin-top: 10px;
}

.footer .widget {
    margin-bottom: 0;
}

.dark-title h3,
.footer-title h3 {
    color: #fff;
    padding: 0;
    font-weight: 700;
    margin: 0;
    font-size: 18px;
}

.dark-title hr,
.footer-title hr {
    border-width: 3px;
    width: 40px;
    margin: 20px 0;
}

.dark-title.text-center h3 {
    font-size: 28px;
}

.dark-title.text-center {
    padding-bottom: 20px;
}

.dark-title.text-center small {
    font-size: 14px;
}

.dark-title.text-center hr {
    margin: 20px auto;
}

#sitefooter-wrap {
    text-transform: capitalize;
    background: #2d2d2d;
    padding: 30px 0;
}

#sitefooter {
    color: #fff;
    position: relative;
}

#sitefooter img {
    margin: 10px auto 20px;
}

.footer-links span {
    color: rgba(255, 255, 255, 0.3);
    margin: 0 10px;
}

#sitefooter a {
    font-size: 13px;
}

.copyright-notice {
    margin-bottom: 5px;
    font-size: 13px;
}

.footer {
    background-color: #333333;
    border-bottom: 1px solid #353535;
    padding: 60px 0;
}

.social-small li .fa {
    color: #ffffff;
    width: 30px;
    height: 30px;
    background-color: #ddd;
    display: block;
    text-align: center;
    line-height: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.social-small li {
    margin-right: -5px !important;
}

.sociallinks li,
.footer .check li {
    margin-bottom: 10px;
}

.check li:before,
.footer .check:before,
.footer p,
.footer .sociallinks li::before,
.footer .check li::before,
.footer .mini-widget-title small,
#sitefooter a,
#sitefooter p {
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 0;
}

#sitefooter a {
    text-decoration: underline !important;
}

.footer .mini-widget-hr,
.footer .widget hr {
    border-color: #444850;
}

.footer p,
.accountbtn,
#sitefooter a,
#sitefooter p,
.footer .check li a,
.footer div.mini-widget-title a {
    color: rgba(255, 255, 255, 0.3);
}

.footer p {
    margin-bottom: 20px;
}


/******************************************
    SECTIONS
******************************************/

.section {
    padding: 60px 0;
    position: relative;
}

.content {
    background-color: #fff;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 0;
}

.review-section.content {
    border-bottom: 0;
}

.post-padding {
    padding: 40px 60px;
}

.post-micro {
    padding: 40px 40px;
}

.post-micro .entry-title {
    font-size: 23px !important;
    font-weight: 700;
    letter-spacing: -0.03em;
    margin-top: 15px;
    line-height: 30px !important;
    margin-bottom: 0 !important;
}

.post-micro .post-sharing {
    padding: 0;
    margin: 10px 0 0;
}

.post-micro .readmore {
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.post-micro .large-post-meta {
    padding: 0;
}

.post-micro .small-review {
    bottom: 0;
    height: 100%;
    padding: 50px 0 0;
    position: absolute;
    right: 0;
    width: 100%;
}

.post-micro .coupon-area::after,
.post-micro .coupon-area::before {
    display: none;
}

.post-micro .coupon-area {
    margin: 0;
    position: absolute;
    bottom: 0;
    padding: 15px 10px;
}

.content .entry-title {
    letter-spacing: -0.03em;
    line-height: 38px;
    margin-bottom: 25px;
    font-size: 29px;
    font-weight: 700;
}

.large-post-meta {
    display: block;
    font-size: 12px;
    width: 100%;
    position: relative;
    padding: 20px 0 0;
}

.large-post-meta .avatar img {
    max-width: 30px;
    border: 1px solid #EEEEEE;
    margin-right: 5px;
}

.large-post-meta small {
    color: #dadada;
    font-size: 16px;
    margin: 0 5px;
}

.large-post-meta a {
    color: #333 !important;
}

.btn {
    font-weight: 700;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.post-sharing {
    display: block;
    width: 100%;
    position: relative;
    margin: 20px 0 0;
}

.readmore {
    color: #333 !important;
    letter-spacing: 0 !important;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    margin-top: 15px;
    padding: 0 0;
}

.readmore:hover {
    text-decoration: underline !important;
}

.pagination > li > a,
.pagination > li > span {
    background-color: #fff;
    border: 0 solid #ddd;
    color: #333333;
    width: 40px;
    height: 40px;
    line-height: 41px;
    text-align: center;
    display: inline-block;
    margin-right: 5px;
    float: left;
    font-size: 15px;
    margin-left: 0;
    padding: 0;
    position: relative;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.post-sharing .btn {
    color: #ffffff !important;
    letter-spacing: 0 !important;
    font-weight: 500;
    font-size: 13px;
    padding: 10px 15px;
    font-family: 'Ubuntu', sans-serif;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.social-small li:hover .fa,
.post-sharing .btn:hover,
.post-sharing .btn:focus {
    opacity: 0.9;
}

.post-sharing .btn .fa-twitter,
.post-sharing .btn .fa-facebook {
    padding-right: 5px;
    width: 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    margin-right: 6px;
    text-align: center;
    display: inline-block;
}

.social-small li .fa-google-plus,
.gp-button.btn-primary:hover,
.gp-button.btn-primary:focus,
.gp-button.btn-primary {
    border-color: #DA5333 !important;
    background-color: #DA5333 !important;
}

.social-small li .fa-facebook,
.fb-button.btn-primary:focus,
.fb-button.btn-primary:hover,
.fb-button.btn-primary {
    background-color: #3B5998 !important;
    border-color: #3B5998 !important;
}

.social-small li .fa-twitter,
.tw-button.btn-primary:hover,
.tw-button.btn-primary:focus,
.tw-button.btn-primary {
    background-color: #00B6F1 !important;
    border-color: #00B6F1 !important;
}

.social-small li .fa-linkedin {
    background-color: #007bb5;
    border-color: #007bb5;
}

.social-small li .fa-pinterest {
    background-color: #cb2027;
    border-color: #cb2027;
}

.social-small li .fa-instagram {
    background-color: #125688;
    border-color: #125688;
}

.social-small li .fa-rss {
    background-color: #f36f24;
    border-color: #f36f24;
}

.authorbox h4 {
    font-size: 16px;
    font-weight: 700;
}

.authorbox .avatar-author {
    float: left;
    width: 80px;
    margin-top: 10px;
}

.authorlink {
    display: block;
    color: #999;
    font-style: italic;
    font-family: 'Droid Serif', serif;
    margin-bottom: 5px;
}

.authorbox .desc {
    font-size: 12px;
    margin-left: 100px;
}

.authorbox .social-small {
    margin-bottom: 0;
}

.authorsocial {
    margin-top: 15px;
}

.authorbox p {
    padding: 5px 0;
    font-size: 14px;
    line-height: 26px;
}

.authorbox .rightside {
    padding-left: 30px;
    border-left: 1px solid #f9f9f9
}

.pager small {
    display: block;
    margin-top: 5px;
}

.pager img {
    margin-top: 0;
    max-width: 80px;
}

.pager {
    margin: 10px 0 0;
}

.contentwidget.widget {
    margin-bottom: 0;
}

.contentwidget form {
    max-width: 360px;
    margin: 0 auto;
}

.contentwidget .newsletter .widget-title:before {
    content: "\f003";
    font-family: "FontAwesome";
    font-size: 230px;
    right: 25px;
    color: rgba(51, 51, 51, 0.3);
    padding-right: 8px;
    position: absolute;
    z-index: 100;
    top: 40px;
    opacity: 0.3;
    z-index: 1;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Safari */
    transform: rotate(45deg);
}

body.login .widget-title:before {
    content: "" !important;
}

body.login a {
    text-decoration: underline !important;
    font-weight: bold;
    color: #333333 !important;
}

body.login .btn {
    margin-bottom: 20px;
}

body.login .newsletter {
    max-width: 400px;
    display: block;
    margin: 0 auto;
}

body.maintenance .btn {
    margin-bottom: 0;
}

body.maintenance .newsletter {
    max-width: 600px;
    display: block;
    margin: 0 auto;
}

.tags {
    display: block;
    margin: 20px 0 0;
}

.tags a {
    font-size: 12px;
    display: inline-block;
    padding: 5px 10px;
    margin-right: 4px;
    background-color: #f9f9f9;
    color: #5e5e5e;
    border-radius: 0.25em;
}


/******************************************
    SIDEBAR WIDGET
******************************************/

@media (min-width: 979px) {
    #affixwidget.affix {
        position: fixed;
        top: 30px;
        right: auto;
        width: 360px;
    }
}

.bgw {
    background-color: #ffffff;
}

.widget {
    position: relative;
    display: block;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 55px;
}

.sticksidebar.affix {
    position: fixed;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.widget-title {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 30px;
    line-height: 1;
    padding: 0;
    width: 100%;
    text-transform: uppercase;
}

.w40 {
    padding: 60px 40px;
}

.w10 img {
    width: 100%;
    padding: 20px;
}

.customwidget .btn {
    margin-top: 25px;
}

.customwidget p,
.newsletter p {
    padding: 0;
    z-index: 10;
    display: block;
    position: relative;
    margin-top: -10px !important;
    margin-bottom: 20px;
}

.customwidget .finalreview p {
    padding: 10px 0 0 !important;
    display: block;
    margin-bottom: 0 !important;
}

.finalreview h3 {
    padding: 10px 0 0 !important
}

.customwidget .checkbox label {
    font-size: 12px;
    padding-left: 10px;
    vertical-align: super;
}

.newsletter .form-control {
    margin-bottom: 15px;
    width: 100%;
    z-index: 1;
    position: relative;
    height: 45px;
    font-size: 13px;
    text-align: center;
    box-shadow: none !important;
    border: 0 !important;
    border-radius: 0 !important
}

.customwidget .btn,
.newsletter .btn {
    font-size: 14px;
    padding: 13px;
    z-index: 1;
    position: relative;
}

.newsletter {
    border: 1px solid #333333 !important;
    position: relative;
}

.newsletter:before {
    position: absolute;
    content: "";
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border: 1px solid #333333;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.widget {
    position: relative;
    z-index: 90;
}

.ribbon-wrapper-green {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -6px;
}

.ribbon-green {
    font-weight: 700;
    color: #333333;
    z-index: 111;
    font-size: 13px;
    text-align: center;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -8px;
    top: 13px;
    width: 120px;
    background-color: #BFDC7A;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.ribbon-green:before,
.ribbon-green:after {
    content: "";
    border-top: 3px solid #6e8900;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    bottom: -3px;
}

.ribbon-green:before {
    left: 0;
}

.ribbon-green:after {
    right: 0;
}

.customwidget,
.customwidget:before {
    border-color: #ffffff;
}

.customwidget label,
.customwidget h3,
.customwidget p {
    padding: 0;
    margin: 0;
    color: #ffffff;
}

.customwidget p {
    margin-bottom: 20px;
}

.customwidget h4 {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 5px 0 20px;
}

mark,
.mark {
    padding: 0 10px;
}

.customwidget {
    background-color: #333333;
}

.quotepost {
    padding: 40px 30px;
}

blockquote {
    border: 0;
    margin-bottom: 0;
}

.post-padding blockquote {
    background-color: #f9f9f9;
    padding: 30px 40px !important;
    border: 0;
    margin: 20px auto 20px !important;
}

.post-padding blockquote:before {
    display: none;
}

blockquote {
    padding-left: 10%;
    position: relative;
}

blockquote p {
    font-size: 16px;
    font-family: 'Droid Serif', serif;
    font-style: italic;
}

blockquote::before {
    color: #333333;
    content: "\f10e";
    font-family: FontAwesome;
    display: block;
    font-size: 42px;
    left: 0;
    position: absolute;
    top: 20px;
}

blockquote cite:before,
blockquote cite {
    color: #333333;
}

.pricing-box {
    background-color: #fff;
    border: 1px solid #fff;
}

.pricing-box sub {
    font-size: 16px;
    vertical-align: top;
}

.pricing-box h3 {
    font-size: 16px;
    padding: 20px 0 !important;
    margin: 0 !important;
}

.pricing-box i {
    padding: 0 10px 0 0;
    vertical-align: middle;
}

.pricing-price p {
    color: #121212;
    display: block;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    padding: 40px 0 10px;
}

.pricing-desc p {
    padding: 10px 0 20px;
    margin: 0;
}

.panel-body p {
    font-size: 13px;
    line-height: 24px;
    padding: 0;
}

.pricing-footer {
    padding: 15px 0;
    margin-top: 20px;
}

.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group,
.panel-group .panel {
    border: 0 none;
    margin-bottom: 0;
}

.panel-group .panel-heading h4 {
    border-bottom: 1px solid #ebeef1;
    color: #121212;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    margin: 0 !important;
    padding: 15px 0;
    text-transform: capitalize;
}

.panel-default > .panel-heading {
    background-color: #f9f9f9;
    border: 0 !important;
    color: #333333;
    line-height: 1;
    padding: 0;
    text-align: center;
}

.panel-default h4 {
    padding: 0;
}

.pricing-box .panel-group {
    margin-bottom: 0;
}

.optab .nav > li > a {
    display: block;
    box-shadow: none !important;
    outline: 0 !important;
    background-color: #ffffff !important;
    line-height: 1 !important;
    margin: 0 !important;
    padding: 10px 20px;
    position: relative;
    border-radius: 0 !important;
}

.optab .nav > li > a,
.optab .nav > li,
.optab ul {
    border: 0 !important;
}

.optab .tab-content {
    border: 1px solid #ededed;
    margin-top: -9px;
    padding: 20px;
}

.related-posts img {
    margin-bottom: 10px;
}

.related-posts .entry small {
    display: block;
    margin: 5px 0 0 0;
}

.related-posts .entry p a {
    color: #333333;
}

.related-posts .entry p {
    margin-bottom: 0;
    padding: 0;
    line-height: 1.6;
}

.related-posts .entry {
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 20px;
    padding: 0 0 20px !important;
}

.related-posts .entry:last-child {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    border-bottom: 0;
}

.videoplayer {
    display: block !important;
    outline: 0 !important;
    border: 0 !important;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.soundcloud {
    width: 100%;
    border: 1px solid #fff;
    height: 166px;
}

.dark-title h3,
.darktext h3,
.related-posts h3 {
    color: #333333;
}

.dark-title,
.comment-wrap .footer-title,
.related-posts .footer-title {
    margin-bottom: 20px;
    display: block;
}

.commentform textarea.form-control {
    height: 100px !important;
    max-width: 100% !important;
}

.commentform p,
.commentform label {
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 13px;
    color: #fff;
}

.mce-container,
.mce-container *,
.mce-widget,
.mce-widget *,
.mce-reset {
    color: #767676 !important;
    font-size: 13px !important;
}

.submitform.cart-body label {
    color: #333 !important;
    margin: 10px 0;
    font-size: 13px !important;
}

.submitform .checkbox {
    margin-top: 20px !important;
    display: block;
}

.submitform.cart-body .form-control {
    height: 40px;
    box-shadow: none !important;
    background-color: #3b3b3b;
    border-color: #efefef;
    margin-bottom: 10px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    padding: 8px;
}

.commentform .form-control {
    height: 40px;
    box-shadow: none !important;
    background-color: #3b3b3b;
    border-color: #454545;
    margin-bottom: 10px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    padding: 8px;
}

.submitform.cart-body .bootstrap-select > .dropdown-toggle {
    background: #fff none repeat scroll 0 0 !important;
    border-color: #efefef !important;
    box-shadow: none !important;
    color: #999999 !important;
    font-size: 12px;
    font-weight: 400;
    height: 40px;
    margin-bottom: 10px;
    min-width: 100% !important;
    padding-right: 25px;
    width: 100%;
    z-index: 1;
}

.submitform .btn-primary {
    margin-top: 20px;
}

.submitform.cart-body .form-control {
    background-color: #ffffff;
    border-color: #efefef !important;
    margin-bottom: 10px;
    color: #333333;
}

.contact_form .form-control {
    background-color: #f9f9f9;
    border-color: #f2f2f2;
    color: #333333;
}

.required {
    color: #da5333;
    margin-left: 5px;
}

.commentform .btn {
    font-size: 13px;
    padding: 10px 20px !important;
    margin-top: 10px;
}

.post-media {
    position: relative;
}

.post-media img {
    width: 100%;
}

.small-review {
    position: absolute;
    background-color: rgba(51, 51, 51, 0.5);
    right: 0;
    padding: 30px 60px;
    bottom: 0;
    text-align: center;
}

.reviews-progress small {
    position: absolute;
    right: 0;
}

.reviews-progress p {
    position: relative;
    padding: 0;
    margin: 0 0 5px;
}

.review-wrap .btn {
    margin-top: 0;
    padding: 10px 20px;
}

.review-wrap hr {
    border-color: #454545;
}

.review-wrap h2,
.small-review h4 {
    color: #ffffff;
    font-weight: 700;
    padding: 0 0 5px;
}

.review-wrap h2 {
    padding: 10px 0 20px;
    margin-top: 0;
    font-size: 18px;
}

.review-wrap {
    margin: 20px 0 20px;
}

.progress {
    height: 10px;
    border-radius: 0;
    background-color: #ffffff;
}

.finalreview h3,
.review-wrap .row p {
    margin: 0 !important;
    padding: 0;
}

.finalreview h3 {
    margin-bottom: 5px !important;
}

.breadcrumb > .active {
    color: #555;
}

.breadcrumb > li {
    color: #555 !important;
    display: inline-block;
    font-size: 12px;
}

.breadcrumb {
    background-color: transparent;
    padding: 0 5px 0 2px;
    margin: 0;
}

.page-title {
    padding: 45px 0;
    border-bottom: 1px solid #f5f5f5;
}

.page-title h3 {
    border-left: 4px solid #111;
    line-height: 1;
    margin: 0;
    font-weight: 700;
    padding: 0 0 0 12px;
}

#bbpress-forums li.bbp-body ul.forum li.bbp-forum-topic-count,
#bbpress-forums li.bbp-body ul.forum li.bbp-forum-reply-count {
    font-size: 15px;
    border: 1px solid #eee;
    color: #333 !important;
}

#bbpress-forums li {
    font-size: 13px;
}

#bbpress-forums li.bbp-body ul.forum li.bbp-forum-topic-count {
    margin-left: 30px;
}

#bbpress-forums li.bbp-body ul.forum li.bbp-forum-topic-count {
    margin-right: 7px;
}

li.bbp-forum-reply-count,
li.bbp-forum-topic-count,
li.bbp-topic-reply-count,
li.bbp-topic-voice-count {
    float: right;
}

#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums ul.bbp-replies,
#bbpress-forums ul.bbp-topics {
    margin: 0;
}

.bbp-forum-info img {
    max-width: 40px;
    margin: 5px 20px 0 0;
}

#cta {
    background: rgba(0, 0, 0, 0) url(upload/cta.jpg) no-repeat scroll center center / cover;
    padding: 80px 0;
    position: relative;
}

#cta.cta1 {
    background: rgba(0, 0, 0, 0) url(upload/cta1.jpg) no-repeat scroll center center / cover;
    padding: 80px 0 120px;
    position: relative;
}

#cta.cta2 {
    background: rgba(0, 0, 0, 0) url(upload/cta2.jpg) no-repeat scroll center center / cover;
    padding: 80px 0 120px;
    position: relative;
}

#cta.cta3 {
    background: rgba(0, 0, 0, 0) url(upload/cta3.jpg) no-repeat scroll center center / cover;
    padding: 80px 0;
    position: relative;
}

#cta.cta4 {
    background: rgba(0, 0, 0, 0) url(upload/cta4.jpg) no-repeat scroll center center / cover;
    padding: 80px 0;
    position: relative;
}

#cta.cta1 h2 {
    margin-top: 1.2em;
}

#cta h2 {
    margin-top: 2em;
    margin-bottom: 2rem;
    font-size: 38px;
    line-height: 44px;
    font-weight: 700;
    color: #fff;
}

#cta .lead {
    margin: 25px 0 25px 0;
    font-size: 17px;
    line-height: 28px;
    color: #fff;
    font-weight: 400;
}

#cta .btn-primary {
    padding: 11px 2em;
    border-radius: 25px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.02em;
    font-weight: 600;
}

.comments img {
    max-width: 80px;
    margin-right: 20px;
}

.comments {
    padding: 0 !important;
    margin: 0 !important;
}

.comments .text-success {
    color: #333333;
    margin-bottom: 5px;
    display: inline-block;
}

.comments .text-muted {
    color: #777;
    margin-left: 5px;
}

.comments .media-list li {
    background-color: #fff;
    border: 1px solid #eee;
    margin-bottom: 30px;
    padding: 20px;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

.comments .media-list li:last-child {
    margin-bottom: 0;
}

.comments .media-list li:hover {
    background-color: #f9f9f9;
}

.comments .media-list li p {
    margin: 0;
    padding: 0;
}

.comments .btn {
    display: inline-block;
    margin-top: 10px;
    font-size: 11px;
    padding: 3px 10px;
}


/******************************************
    CONTACT 
******************************************/

.contactwidget {
    padding-top: 10px;
}

.contactwidget i {
    margin-right: 5px;
    border-right: 1px solid #7b7b7b;
    width: 30px;
    text-align: center;
    padding-right: 5px;
}

#message {
    display: none;
    position: relative;
    text-align: left;
    padding: 20px;
}

#map {
    height: 500px;
    width: 100%;
    position: relative;
    z-index: 1;
}

#map.map1 {
    height: 340px;
    width: 100%;
    position: relative;
    z-index: 1;
}

#map img {
    max-width: inherit
}

.loader {
    margin-left: 10px;
}

.map {
    position: relative
}

.map .row {
    position: relative
}

.infobox img {
    width: 100% !important;
}

.map .searchmodule {
    padding: 18px 10px
}

.infobox {
    display: inline-block;
    padding: 20px;
    text-align: center;
    position: relative;
    width: 270px;
}

.infobox img {
    width: 80px !important;
    padding-right: 10px
}

.infobox .title {
    font-size: 13px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.infobox .title a {
    font-weight: bold;
    color: #121212 !important;
}

.contact_form label {
    color: #333333;
}

.loader {
    margin-top: -3px;
    vertical-align: text-top;
}


/******************************************
    CAROUSEL
******************************************/

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

.mejs-container .mejs-controls .mejs-time {
    color: #333333 !important;
}

.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-inner > .item {
    display: none;
    position: relative;
    -webkit-transition: 0.6s ease-in-out left;
    -moz-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    line-height: 1;
}

@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-inner > .item {
        -webkit-transition: -webkit-transform 0.6s ease-in-out;
        -moz-transition: -moz-transform 0.6s ease-in-out;
        -o-transition: -o-transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000;
        -moz-perspective: 1000;
        perspective: 1000;
    }
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        left: 0;
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        left: 0;
    }
    .carousel-inner > .item.next.left,
    .carousel-inner > .item.prev.right,
    .carousel-inner > .item.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        left: 0;
    }
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
    display: block;
}

.carousel-inner > .active {
    left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
}

.carousel-inner > .next {
    left: 100%;
}

.carousel-inner > .prev {
    left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
    left: 0;
}

.carousel-inner > .active.left {
    left: -100%;
}

.carousel-inner > .active.right {
    left: 100%;
}

.carousel-control {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
}

.carousel-control.right {
    left: auto;
    right: 0;
}

.carousel-control .fa {
    position: absolute;
    top: 50%;
    z-index: 5;
    padding: 1em;
    font-size: 16px;
    background-color: rgba(51, 51, 51, 0.6);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.carousel-control .fa:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.carousel-control .fa-angle-left {
    left: 0;
}

.carousel-control .fa-angle-right {
    right: 0;
}

.carousel-control .fa-angle-left,
.carousel-control .fa-angle-right {
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.carousel-indicators {
    position: absolute;
    right: 20px;
    padding: 0.3em 0.6em;
    z-index: 15;
    list-style: none;
    text-align: center;
    line-height: 1;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20em;
    top: 20px;
}

.carousel-indicators li {
    display: inline-block;
    width: 9px;
    height: 9px;
    text-indent: -999px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
}

.carousel-indicators li + li {
    margin-left: 3px;
}

.carousel-indicators .active {
    background-color: #ffffff;
}

.carousel-caption {
    display: none;
    position: absolute;
    max-width: 100%;
    left: 20px;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    padding: 2em;
    color: #ffffff;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 768px) {
    .carousel-caption {
        display: block;
    }
}

.callout h2 {
    padding-top: 0;
    margin-top: 0;
    font-weight: 700;
}

.callout .btn {
    margin-top: 10px;
    -webkit-border-radius: 55px;
    -moz-border-radius: 55px;
    border-radius: 55px;
    padding: 14px 37px;
    font-size: 15px;
}

.welcomebox h2 {
    padding-top: 0;
    margin-top: 0;
    font-size: 21px;
    font-weight: 700;
    color: #ffffff;
}

.welcomebox .btn {
    margin-top: 8px;
    -webkit-border-radius: 55px;
    -moz-border-radius: 55px;
    border-radius: 55px;
    padding: 10px 30px;
    font-size: 15px;
}

.welcomebox p {
    color: #999;
    padding: 10px 0 0;
    margin: 0;
}


/******************************************
    DEALS
******************************************/

.coupon-area strong {
    font-size: 18px;
    color: #ffffff;
    margin-right: 10px;
}

.coupon-area form {
    display: inline;
    display: inline-block;
}

.coupon-area .coupon-code {
    font-size: 15px;
    font-weight: bold;
    line-height: 36px;
    display: inline-block;
    height: 40px;
    height: auto !important;
    padding: 0 20px 0 45px;
    color: #fff;
    border: 2px dashed #fff;
    border-radius: 0;
    background: url(images/scissors.png) no-repeat 20px center;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.coupon-area .coupon-code:hover {
    color: #fff;
    border-style: solid;
}

.coupon-area span {
    font-size: 13px;
    margin-left: 15px;
    color: #fff;
}

.coupon-area {
    background-color: #414141;
    box-shadow: 0 4px 10px #666;
    -webkit-box-shadow: 0 3px 10px #666;
    -moz-box-shadow: 0 3px 10px #666;
    box-shadow: 0 3px 10px #666;
    left: 0;
    margin: 0 -20px 0 -20px;
    padding: 20px;
    position: relative;
    right: 0;
}

.dealwrapper {
    padding: 30px;
    margin-bottom: 0;
}

.coupon-area::before,
.coupon-area::after {
    content: " ";
    height: 0;
    position: absolute;
    width: 0;
}

.coupon-area::after {
    border-color: #000 #000 transparent transparent;
    border-style: solid;
    border-width: 5px 10px;
    left: 0;
    top: 100%;
}

.coupon-area::before {
    border-color: #000 transparent transparent #000;
    border-style: solid;
    border-width: 5px 10px;
    right: 0;
    top: 100%;
}

.nopad {
    padding: 0;
}

.nopadbot {
    padding-bottom: 0;
}

.reviewwrapper .post-sharing {
    margin-bottom: 30px;
}

.reviewwrapper .large-post-meta {
    padding-top: 0;
}

.dealwrapper .entry-title {
    font-size: 21px;
    font-weight: 700;
    letter-spacing: -0.03em;
    line-height: 26px;
    margin-bottom: 10px;
    margin-top: 0;
}

.dealwrapper p {
    margin: 15px 0;
}


/******************************************
    SHOP
******************************************/

.item-details tr {
    border-bottom: 1px solid #ebeef1;
    padding: 8px 0;
    width: 100%;
    display: inline-block;
}

.item-details tr:last-child {
    border-bottom: 0;
}

.item-details td {
    border: medium none !important;
    font-size: 12px !important;
    width: 30%;
    font-weight: 500;
    display: inline-block;
    text-transform: capitalize;
    margin-right: 20px
}

.item-price .social {
    margin-top: 30px;
}

.item-price .social i {
    font-size: 18px;
}

.product-tags a {
    font-size: 12px !important;
    font-weight: 500;
    color: #333333;
    text-transform: uppercase;
    margin: 0 5px 5px 0;
}

.m20,
form.m20 {
    margin-top: 20px;
}

.item-price span {
    font-style: normal;
    font-weight: 700;
    color: #ffffff;
    font-size: 34px;
    margin: 0;
    line-height: 1;
    padding: 0 0 5px;
    display: block;
}

.item-price small a {
    color: #fff;
    font-size: 11px !important;
    font-weight: 600;
    margin: 0 5px 5px 0;
    font-style: normal;
    text-transform: uppercase;
}

.item-price small a i {
    margin-right: 5px;
}

.item-price hr {
    margin: 10px 0;
    border-color: #444;
}

.shop-single-button {
    background-color: #f6f6f6;
    padding: 20px 0;
}

.shop-single-button .btn i {
    border-right: 1px solid rgba(51, 51, 51, 0.3);
    margin-right: 8px;
    padding-right: 8px;
}

.shop-item {
    background-color: #ffffff;
    border-bottom: 1px solid #fefefe;
}

.shop-desc {
    padding: 30px 30px 30px;
}

.shop-desc h3 {
    padding: 10px 0 15px;
    margin: 0;
    font-weight: bold;
    font-size: 18px;
}

.shop-desc p {
    margin-bottom: 15px;
}

.entry {
    position: relative;
    padding: 0 !important;
    margin-bottom: 0;
}

.magnifier {
    position: absolute;
    top: 0;
    cursor: pointer;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.entry:hover .magnifier {
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1;
}

.shop-bottom {
    position: absolute;
    right: 0;
    left: 0;
    display: block;
    margin: -15px auto;
    bottom: 0;
    top: 0%;
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.entry:hover .shop-bottom {
    top: 50%;
}

.shop-price {
    position: absolute;
    right: 0;
    left: 0;
    display: block;
    margin: 0 auto;
    text-align: center;
    bottom: -14px;
    max-width: 90px;
    top: auto;
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.shop-price p {
    padding: 0;
    margin: 0;
}

.shop-list .col-md-4 {
    margin-bottom: 30px;
}

.first {
    clear: both
}

.last {
    margin-right: 0
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #333333;
}

.cart-body h4,
.cart-body h6,
.desiger-details h4,
.desiger-details h4 a {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 0 0;
    margin: 5px 0 0;
}

.cart-body .bootstrap-select {
    min-width: 100% !important;
}

.cart-body .bootstrap-select > .dropdown-toggle {
    background: #fff none repeat scroll 0 0 !important;
    box-shadow: none !important;
    border-color: #dadde0 !important;
    color: #727272 !important;
    min-width: 100% !important;
    padding-right: 25px;
    width: 100%;
    z-index: 1;
}

.cart-body .form-control {
    border-radius: 0 !important;
    border-color: #dadde0 !important;
    box-shadow: none !important;
    height: 36px;
    color: #727272 !important;
}

.cart-body label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    max-width: 100%;
}

.cart-body img {
    max-width: 100px;
}

.panel {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    margin-bottom: 20px;
}

.panel-info > .panel-heading {
    margin-bottom: 20px;
}


/******************************************
    FONTS
******************************************/

h1,
h2,
h3,
.ribbon-green,
.mini-widget-title a,
.footer p,
h4,
h5,
h6,
.navbar-brand,
.navbar-nav > li > a,
.coupon-area strong,
.coupon-area span,
.infobox .title,
.dropdown-menu > li > a,
.readmore,
.related-posts .entry p,
#bbpress-forums li.bbp-body ul.forum li.bbp-forum-info a,
.accountbtn,
.customwidget label,
#sitefooter a,
#sitefooter p,
.footer .check li a,
.shop-price p,
.item-details td,
.panel-info > .panel-heading,
.item-price span,
.submitform.cart-body .form-control,
.submitform.cart-body label,
.submitform.cart-body textarea,
.submitform.cart-body .bootstrap-select > .dropdown-toggle,
body.login .checkbox,
.comments .text-success,
.footer div.mini-widget-title a,
.optab .nav > li > a,
.coupon-area .coupon-code,
.btn,
.navbar-nav > li.megamenu a,
.tooltip-inner,
.large-post-meta,
.newsletter .form-control {
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sitemapwrapper .col-md-4 {
    margin-bottom: 30px;
}

.sitemapwrapper .content {
    min-height: 400px;
}

.m40 {
    margin-top: 40px;
}


/******************************************
    RESPONSIVE
******************************************/

@media (max-width: 992px) {
    .post-micro {
        padding: 20px;
    }
    .post-micro .large-post-meta {
        padding: 30px 0 0;
    }
    .mobtop {
        margin-top: 30px;
    }
    .style2 .divs {
        margin-bottom: 30px;
    }
    .preamble {
        text-align: center;
        margin-bottom: 30px;
    }
    .sitemapwrapper .content {
        min-height: auto;
    }
    .mtl .post-padding,
    .mb40 .post-padding {
        text-align: left !important;
    }
    .mtl .large-post-meta,
    .mtl .entry-title,
    .mtl .post-sharing {
        text-align: center !important;
    }
    .authorbox img {
        display: none;
    }
    .authorbox .desc {
        margin: 0 auto;
    }
    .mb40 {
        margin-bottom: 40px;
    }
    .related-posts .col-md-4,
    .footer .widget {
        margin: 15px auto;
    }
    .icon-bar {
        color: #fff !important;
    }
    .navbar-default .navbar-toggle {
        border: 0 !important;
        background-color: #333 !important;
    }
    #sitefooter .text-right {
        text-align: center;
        margin-top: 10px;
    }
    #sitefooter .text-left {
        text-align: center !important;
    }
    .post-review {
        margin-bottom: 20px;
    }
    .logo-wrapper {}
    .navbar-brand {
        padding: 0;
        margin: 0 auto 10px !important;
        width: 100%;
        display: inline-block;
        float: none;
        text-align: center;
    }
    .navbar-brand img {
        max-width: 137px;
        padding: 0;
        margin: 0 auto;
    }
    .logo-wrapper .ads-widget img {
        margin: 0 auto!important;
        width: auto;
        display: block;
        float: none;
        text-align: center;
    }
    .logo-wrapper .text-right {
        float: none;
        text-align: center;
    }
    .finalreview .col-sm-6 {
        padding: 5px 0 !important;
    }
    .dealwrapper .post-padding {
        text-align: center !important;
    }
}

@media (max-width: 768px) {
    .yamm .yamm-content {
        padding: 20px;
    }
    .header .widget {
        margin-top: 15px;
    }
    .owl-prev {
        left: 0px !important;
        position: absolute;
    }
    .owl-next {
        right: 0px !important;
        position: absolute;
    }
    #cta h2 {
        color: #fff;
        font-size: 26px;
        font-weight: 700;
        line-height: 26px;
        margin-bottom: 2rem;
        margin-top: 2em;
    }
    #cta .lead {
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        margin: 16px 0;
    }
    .welcomebox .text-right {
        text-align: center !important;
    }
    li.bbp-forum-info,
    li.bbp-topic-title {
        float: none;
        text-align: left;
        width: 100%;
    }
    .coupon-area {
        box-shadow: none !important;
        margin: 0;
    }
    .coupon-area:after,
    .coupon-area:before {
        display: none;
    }
    .post-sharing .btn .fa-twitter,
    .post-sharing .btn .fa-facebook {
        border-right: 0;
        padding: 0;
        margin: 0;
    }
    .post-padding {
        padding: 20px;
        text-align: center;
    }
    .dropdown-menu {
        background-color: #ffffff !important;
    }
    .nav > li > a {
        padding: 5px 20px;
    }
    .navbar-nav > li:hover,
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        background-color: transparent !important;
    }
    .content .entry-title {
        font-size: 21px;
        line-height: 32px;
    }
    blockquote::before {
        display: none;
    }
    blockquote {
        padding: 0;
    }
}

@media (max-width: 420px) {
    .footer-links span {
        margin: 0 4px;
    }
    .copyright-notice,
    .footer-links,
    #sitefooter {
        font-size: 11px;
    }
}